parameters:
    bu.paramconverter.post.class: Bu\ExtraParamConverterBundle\Request\ParamConverter\PostConverter
    bu.paramconverter.get.class:  Bu\ExtraParamConverterBundle\Request\ParamConverter\GetConverter

services:
    bu.paramconverter.post:
        class: %bu.paramconverter.post.class%
        arguments: [@doctrine.orm.entity_manager]
        tags:
            - { name: request.param_converter }

    bu.paramconverter.get:
        class: %bu.paramconverter.get.class%
        arguments: [@doctrine.orm.entity_manager]
        tags:
            - { name: request.param_converter, priority: 5 }
